workflowbank-reconciliation-workflow.json.json
{
  "name": "Finance Automation: Dynamic Bank Reconciliation with n8n & AI Reporting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -96
      ],
      "id": "b71c119b-6f78-48ef-8ad7-c945cec4a29e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gVjEb-NdXF7eBMHuakrn2BrFZZnbtBWT6lqvSK3yEQw",
          "mode": "list",
          "cachedResultName": "Bank Statement",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gVjEb-NdXF7eBMHuakrn2BrFZZnbtBWT6lqvSK3yEQw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gVjEb-NdXF7eBMHuakrn2BrFZZnbtBWT6lqvSK3yEQw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        -224
      ],
      "id": "00aa13f2-353b-4f2a-b6df-568a2413cad0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uEqpiBuWkM03J1gfYTHjfB9VxgfuNiFSDNee_PPeG10",
          "mode": "list",
          "cachedResultName": "Accounting Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uEqpiBuWkM03J1gfYTHjfB9VxgfuNiFSDNee_PPeG10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uEqpiBuWkM03J1gfYTHjfB9VxgfuNiFSDNee_PPeG10/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        32
      ],
      "id": "dcbcc7b5-fe60-4a9f-b83d-10fbbbb7b28f",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\n\nconst grouped = {};\n\nfor (const item of allItems) {\n  const ref = item.Reference;\n  if (!grouped[ref]) grouped[ref] = [];\n  grouped[ref].push(item);\n}\n\nconst results = [];\n\nfor (const ref in grouped) {\n  const entries = grouped[ref];\n  const bankEntry = entries.find(e => e.Source === \"Bank\");\n  const accEntry = entries.find(e => e.Source === \"Accounting\");\n\n  if (bankEntry && accEntry) {\n    if (Number(bankEntry.Amount) === Number(accEntry.Amount)) {\n      results.push({\n        json: {\n          Reference: ref,\n          Bank_Amount: bankEntry.Amount,\n          Accounting_Amount: accEntry.Amount,\n          Status: \"Matched\"\n        }\n      });\n    } else {\n      results.push({\n        json: {\n          Reference: ref,\n          Bank_Amount: bankEntry.Amount,\n          Accounting_Amount: accEntry.Amount,\n          Status: \"Amount Mismatch\"\n        }\n      });\n    }\n  } else if (bankEntry && !accEntry) {\n    results.push({\n      json: {\n        Reference: ref,\n        Bank_Amount: bankEntry.Amount,\n        Accounting_Amount: null,\n        Status: \"Missing in Books\"\n      }\n    });\n  } else if (!bankEntry && accEntry) {\n    results.push({\n      json: {\n        Reference: ref,\n        Bank_Amount: null,\n        Accounting_Amount: accEntry.Amount,\n        Status: \"Missing in Bank\"\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -208
      ],
      "id": "9a416428-77e1-4dcc-9031-86e81aa7b6ab",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6c81901-f744-4494-96d5-20cd14abc8e8",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Matched",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -256
      ],
      "id": "64acff24-cd43-40bf-afea-d2033c077f85",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AK6aooQ0d_uyEVSVNfDLNcNiu7F2qdjaydgRN-ZiskA",
          "mode": "list",
          "cachedResultName": " Reconciliation Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AK6aooQ0d_uyEVSVNfDLNcNiu7F2qdjaydgRN-ZiskA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1AK6aooQ0d_uyEVSVNfDLNcNiu7F2qdjaydgRN-ZiskA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reference": "={{ $json.Reference }}",
            "Bank_Amount": "={{ $json.Bank_Amount }}",
            "Accounting_Amount": "={{ $json.Accounting_Amount }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Reference",
              "displayName": "Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bank_Amount",
              "displayName": "Bank_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Accounting_Amount",
              "displayName": "Accounting_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -240
      ],
      "id": "5616089a-6f20-46c1-b6a8-4f4aa79758b4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sheraziali42@gmail.com",
        "subject": "Bank Reconciliation Alert - Unmatched Transaction",
        "emailType": "text",
        "message": "=An unmatched transaction has been found in the bank reconciliation:\n\nReference: {{$json.Reference}}\nBank Amount: {{$json.Bank_Amount}}\nAccounting Amount: {{$json.Accounting_Amount}}\nStatus: {{$json.Status}}\n\nPlease review this transaction and update the records accordingly.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        -48
      ],
      "id": "4021835a-e443-4caa-a0d4-1280d4c64811",
      "name": "Send a message",
      "webhookId": "3528d54c-e59b-43ce-b14f-0c5daa09021c",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJeRHkzYBGqREzTO",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize today's bank reconciliation results in a clear, professional tone.\n\nData:\n{{JSON.stringify($input.all().map(i => i.json))}}\n\nInclude:\n- Total transactions reviewed\n- Number of matched transactions\n- Number of unmatched transactions (with reference numbers)\n- Possible reasons for mismatches\n- A short recommendation"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        288,
        320
      ],
      "id": "1e9d6cb9-ad97-4048-afa9-f02e8d651ae1",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Wodp6Uc0qL328kZA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "driveId": "=myDrive",
        "folderId": "=16FgBtPw3fvxhX5iTiO-su_MTzwu2sFyV",
        "title": "=Bank Reconciliation Report - {{$now.format('yyyy-MM-dd')}}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        192
      ],
      "id": "99a334fc-d49f-4781-9e40-d689a929ef74",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1yUB6JwKI5S2PgHs",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "=Reference",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        112
      ],
      "id": "038d8d14-5851-4aee-954f-857aa18761c4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17695ea1-f388-429e-a574-bad5329edb34",
              "name": "Source",
              "value": "Bank",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -208
      ],
      "id": "c7ccd1e9-4a4d-46ac-9dab-101bf3f5f0d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b42279a-c309-4e14-8019-7142ab195b23",
              "name": "Source",
              "value": "Accounting",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        160
      ],
      "id": "4d057ee7-f12b-4b75-b8a6-896b0e8e74a8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{$json.id}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{$('Message a model').item.json.content.parts[0].text}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        880,
        192
      ],
      "id": "82dc89b3-ff43-418c-ad7b-bbd60a0d5574",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1yUB6JwKI5S2PgHs",
          "name": "Google Docs OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99b6c94e-4997-4175-9b2d-93bb50067e21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acc927aad747b18ada525495a3a6afd4245751a432872524476b28754c2cf991"
  },
  "nodeGroups": [],
  "id": "w6HmXBAJprHFAkbY",
  "tags": []
}